<div class="add">
  <button (click)="goBack()" class="btn btn-secondary">Voltar</button>
  <h1>Cadastrar Cliente</h1>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <!-- Nome -->
    <div class="form-group">
      <label for="name">Nome</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        required
      />
      @if( clientForm.get('name')?.invalid && clientForm.get('name')?.touched ){
      <div class="text-danger">
        @if( clientForm.get('name')?.errors?.['required'] ){
        <small> O nome é obrigatório. </small>
        } @if( clientForm.get('name')?.errors?.['minlength'] ){
        <small> O nome deve ter pelo menos 3 caracteres. </small>
        }
      </div>
      }
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="clientForm.invalid"
    >
      Cadastrar
    </button>
  </form>
</div>
