<div class="p-3">
  <h1 mat-dialog-title class="text-white">Editar Estoque</h1>
  <div mat-dialog-content>
    <form [formGroup]="priceForm">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Estoque</mat-label>
        <input matInput type="number" formControlName="price" />
        @if(priceForm.get('price')?.hasError('required')) {
        <mat-error> O estoque é obrigatório. </mat-error>
        } @if(priceForm.get('price')?.hasError('min')) {
        <mat-error> O estoque deve ser maior ou igual a 0. </mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button class="btn btn-secondary m-1" (click)="close()">
      Cancelar
    </button>
    <button
      mat-raised-button
      class="btn btn-primary"
      color="primary"
      (click)="save()"
      [disabled]="priceForm.invalid"
    >
      Salvar
    </button>
  </div>
</div>
