<h1 mat-dialog-title>Pesquisar Produto</h1>
<div mat-dialog-content>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterProducts()"
    placeholder="Pesquisar produto"
    class="form-control mb-3"
  />
  <table class="w-100 table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Qtd</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (product of filteredProducts; track $index) {
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency : "BRL" }}</td>
        <td>{{ product.stock }}</td>
        <td>
          <button class="btn btn-primary" (click)="addProduct(product)">
            Add
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()" class="btn btn-secondary">Fechar</button>
</div>
