<mat-sidenav-container class="sidenav-container">
  <!-- Menu Lateral -->
  <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="false">
    <mat-nav-list>
      <a mat-list-item routerLink="/sales" (click)="sidenav.close()">Vendas</a>
      <a mat-list-item routerLink="/clients" (click)="sidenav.close()"
        >Clientes</a
      >
      <a mat-list-item routerLink="/inventory" (click)="sidenav.close()"
        >Estoque</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo Principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestão de Vendas</span>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
