<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" [opened]="false">
    <app-navbar [sidenav]="sidenav"></app-navbar>
  </mat-sidenav>
  <!-- Conteúdo Principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary p-1">
      @if(isLoggedIn) {
      <mat-nav-list class="m-0 p-0">
        <a mat-list-item class="m-0">
          <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </a>
      </mat-nav-list>
      }
      <label class="w-100 d-flex justify-content-center"
        >Gestão de Vendas</label
      >
    </mat-toolbar>
    <div class="content">
      <div class="container mt-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
