<div class="login-container">
  <h1>Recuperar Senha</h1>
  <form (ngSubmit)="recoverPassword()">
    <div class="form-group">
      <label for="email" class="float-start">Email</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        name="email"
        class="form-control"
        required
        autocomplete="username"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Enviar email de recuperação
    </button>
  </form>
  <div class="d-flex justify-content-between mt-3 align-items-center">
    <button (click)="navigateToLogin()">Voltar ao login</button>
  </div>
</div>
