<div class="list">
  <button (click)="navigateTo('home')" class="btn btn-secondary">Voltar</button>
  <button (click)="navigateTo('products/add')" class="btn btn-primary m-1">
    Adicionar
  </button>
  <h1>Lista de Produtos</h1>
  <table class="table-responsive">
    <thead>
      <tr>
        <th class="d-md-table-cell">ID</th>
        <th>Produto</th>
        <th>Estoque</th>
        <th>Valor</th>
        <th class="d-md-table-cell">Data Cadastro</th>
        <th class="d-md-table-cell">Ações</th>
        <th>Mais</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track $index) {
      <tr>
        <td class="d-md-table-cell">{{ product.id }}</td>
        <td>
          {{ product.client | slice : 0 : (maxCharacters$ | async) || 0 }}
          {{
            product.client.length > ((maxCharacters$ | async) || 0) ? "..." : ""
          }}
        </td>
        <td>{{ product.total }}</td>
        <td>{{ product.total | currency : "BRL" }}</td>
        <td class="d-md-table-cell">{{ product.date }}</td>
        <td class="d-md-table-cell">
          <button class="btn btn-primary btn-sm">Editar</button>
        </td>
        <td>
          <button class="btn btn-info btn-sm" (click)="showDetails(product)">
            <i class="bi bi-three-dots"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
