<div class="list">
  <button (click)="navigateTo('home')" class="btn btn-secondary">Voltar</button>
  <button (click)="navigateTo('products/add')" class="btn btn-primary m-1">
    Adicionar
  </button>
  <button (click)="getProducts()" class="btn btn-info">Atualizar</button>
  <h1>Lista de Produtos</h1>
  <table class="table-responsive">
    <thead>
      <tr>
        <th>Produto</th>
        <th class="d-md-table-cell">Descrição</th>
        <th>Estoque</th>
        <th>Valor (unid)</th>
        <th class="d-md-table-cell">Data Cadastro</th>
        <th>Mais</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track $index) {
      <tr>
        <td>
          {{ product.name | slice : 0 : (maxCharacters$ | async) || 0 }}
          {{
            product.name.length > ((maxCharacters$ | async) || 0) ? "..." : ""
          }}
        </td>
        <td class="d-md-table-cell">{{ product.description }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.price | currency : "BRL" }}</td>
        <td class="d-md-table-cell">
          {{ product.createdAt | date : "dd/MM/yyyy HH:mm" }}
        </td>
        <td>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editStock(product)">
              <mat-icon>edit</mat-icon>
              <span>Editar Estoque</span>
            </button>
            <button mat-menu-item (click)="editPrice(product)">
              <mat-icon>edit</mat-icon>
              <span>Editar Preço</span>
            </button>
            <button mat-menu-item (click)="deleteProduct(product.id)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
            <!-- <button mat-menu-item>
              <mat-icon>link</mat-icon>
              <span>Detalhes</span>
            </button> -->
          </mat-menu>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
