<div class="sales-list">
  <button (click)="navigateTo('home')" class="btn btn-secondary">Voltar</button>
  <button (click)="navigateTo('sales/add')" class="btn btn-primary m-1">
    Adicionar
  </button>
  <button (click)="getSales()" class="btn btn-info">Atualizar</button>
  <h1>Lista de Vendas</h1>
  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Total</th>
        <th>Data Cadastro</th>
        <th>Situação</th>
      </tr>
    </thead>
    <tbody>
      @for (sale of sales; track $index) {
      <tr>
        <td>{{ sale.client }}</td>
        <td>{{ sale.total | currency : "BRL" }}</td>
        <td>{{ sale.date | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>{{ sale.status ?? "Pendente" }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
