<div class="sales-list">
  <button (click)="navigateTo('home')" class="btn btn-secondary">Voltar</button>
  <button (click)="navigateTo('sales/add')" class="btn btn-primary m-1">
    Adicionar
  </button>
  <button (click)="getSales()" class="btn btn-info">Atualizar</button>
  <h1>Lista de Vendas</h1>
  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Total</th>
        <th>Data Cadastro</th>
        <th>Situação</th>
        <th>Mais</th>
      </tr>
    </thead>
    <tbody>
      @for (sale of sales; track $index) {
      <tr>
        <td>{{ sale.clientName }}</td>
        <td>{{ sale.total | currency : "BRL" }}</td>
        <td>{{ sale.createdAt | date : "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>{{ sale.status }}</td>
        <td>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteItem(sale.id)">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
            <!-- <button mat-menu-item>
              <mat-icon>link</mat-icon>
              <span>Detalhes</span>
            </button> -->
          </mat-menu>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
